#gameBoard {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  margin: auto;
  background-image: url("https://media.istockphoto.com/photos/green-poker-table-felt-background-picture-id467583755?k=6&m=467583755&s=612x612&w=0&h=yYdwoNN2UZkMCxAAEf5PyltMphePlfEAzw6oEeYMpEU=");
  /* https://cdn11.bigcommerce.com/s-c1tzcg0txe/images/stencil/500x659/products/8377/9234/Ozone_Green__40742.1523637100.jpg?c=2 */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardsDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;

  justify-items: center;
  align-items: center;
}

/* Card Styling */

#appDiv {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
}

#gameOver {
  top: +200px;
  padding: 40px;
  font-size: 40px;
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-style: solid;
  border-radius: 4%;
  background-color: rgba(245, 245, 245, 0.465);
  z-index: 2;

  -webkit-box-shadow: 37px 59px 45px 14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px 59px 45px 14px rgba(0, 0, 0, 0.75);
  box-shadow: 37px 59px 45px 14px rgba(0, 0, 0, 0.75);
}

#informationDiv {
  width: 70%;
  height: 7%;

  background-color: rgba(245, 245, 245, 0.465);
  border-style: solid;
  margin: 10px auto;

  position: fixed;
  display: flex;
  z-index: 1;

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  -webkit-box-shadow: 37px 27px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px 27px 12px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 37px 27px 12px -6px rgba(0, 0, 0, 0.75);
}

#scoreDiv {
  font-size: 100%;
}

#livesDiv {
  font-size: 100%;
}
